body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Karma", sans-serif;
}

header{
  background-color: transparent;
  display: flex;
}
.w3-bar-block .w3-bar-item {
  padding: 20px
}

.buyit {
  color: darkgreen;
  background-color: greenyellow;
}

#titleM {
  font-size: 40px;
  font-weight: 700;
  color: darkgreen;
}


#footy {
  position: absolute;
  top: 660px;
  width: 100%;
  /*align flexbox to centre of screen*/
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.fa {
  padding: 20px;
  text-align: center;
  margin: 5px 2px;
  font-size: 30px;
  width: 50px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa:hover {
  opacity: 0.9;
}

li {
  display: inline;
  float: right;
  color: darkgreen;
  padding-right: 50px;
}

#logo {
  cursor: pointer;
}

#bootCTA {
  position: absolute;
  top: 400px;
  left: 400px;

}

#foot {
  position: absolute;
  width: 100%;
  top: 650px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

#musica {
  display: none;
  position: absolute;
  top: 20px;
  left: 300px;
}

#musB {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

#trigs {
  position: absolute;
  top: 85px;
  left: 950px;
  border: 1px solid;
  height: 625px;
  width: 600px;
  text-align: left;
}

#goal {
  padding: 1px;
  margin: 0px;
}

#sub {
  /*O9T sign-up button */
  height: 40px;
  width: 200px;
  border-radius: 30%;
  background-color: green;
  color: white;
}

/* O9T sign-up button pseudoclasses */
/* unvisited link */
#sub:link {
  color: #FF0000;
}

/* visited link */
#sub:visited {
  color: #00FF00;
}

/* mouse over link */
#sub:hover {
  color: #FF00FF;
}

/* selected link */
#sub:active {
  color: #0000FF;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* About Us Page */

#container{
  width: 99%;
  display: inline-flex;
}

#textCont { /* div tag name */
  margin-left: 10px;
  float: left;
  display: inline;
  border: 1px solid black;
  width: 800px;
  display: inline-flex;
}

#image { /* div tag name */
  margin-right: 10px;
  float: right;
  display: inline-flex;
  border: 1px solid black;
  width: 700px;
  height: 500px;
  text-align: center;
}
/***********************************/
/* Responsive Web Design */
.OuterRing{ /* Outermost div container */
  display: flex;
  width: 100%;
}

/* Media queries mobile*/
@media screen and (min-width: 480px) {
  
 
}